<div class="bg-primary-800">
    <div class="container py-8 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <img class="mb-6 mb-lg-0" src="../assets/images/onon_logo-white.svg" alt="onon_logo-white">
    <!--contact info-->
        <div class="mb-6 mb-lg-0">
            <p class="fs-7 text-white py-2 py-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start">
                <span class="material-symbols-outlined fill me-1 text-primary-300">call</span>
                +886 0800-123-456
            </p>
            <p class="fs-7 text-white py-2 py-lg-1 d-flex align-items-center justify-content-center
            justify-content-lg-start">
                <span class="material-symbols-outlined fill me-1 text-primary-300">location_on</span>
                桃園市桃園區桃園路123號
            </p>
            <p class="fs-7 text-white py-2 py-lg-1 d-flex align-items-center justify-content-center
            justify-content-lg-start">
                <span class="material-symbols-outlined fill me-1 text-primary-300">schedule</span>
                10:00-19:00 週一公休
            </p>
        </div>
    <!--official link-->
        <div class="d-flex flex-column align-items-center align-items-lg-end">
            <div class="mb-4">
                <a href="#">
                    <img src="../assets/images/facebook-white.svg" 
                         alt="facebook-white"
                         class="border border-white rounded-circle p-2 me-2">
                </a>
                <a href="#">
                    <img src="../assets/images/instagram-white.svg" 
                         alt="instagram-white"
                         class="border border-white rounded-circle p-2 me-2">
                </a>
                <a href="#">
                    <img src="../assets/images/line-white.svg" 
                         alt="line-white"
                         class="border border-white rounded-circle p-2">
                </a>
            </div>
            <p class="fs-7 text-white text-center">Copyright © 2025 onon_cake All Rights Reserved.</p>
        </div>

    </div>
</div>