<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
<!--navbar logo-->
    <a class="navbar-brand me-auto py-0" href="index.html">
        <img src="../assets/images/onon_logo-sm.svg" 
             alt="onon_logo-sm"
             class="d-lg-none">
        <img src="../assets/images/onon_logo.svg" 
             alt="onon_logo"
             class="d-none d-lg-block">
    </a>
    <a href="shopping-cart.html" class="nav-link d-lg-none">
      <div class="position-relative">
        <span class="material-symbols-outlined fill align-bottom text-primary"> shopping_cart</span>
        <span class="position-absolute top-0 start-100 translate-middle badge border border-white bg-secondary-500">0</span>
      </div>
    </a>
<!--漢堡按鈕-->
    <button class="navbar-toggler border-0" type="button"   
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--手機版start-->
      <ul class="navbar-nav ms-auto mb-5 align-items-center d-lg-none">
        <form class="position-relative d-lg-none my-5 w-100">
              <span class="material-symbols-outlined position-absolute top-50 translate-middle-y ps-5 text-primary">search</span>
              <input class="form-control input-search ps-10" 
                     type="search"
                     placeholder="輸入關鍵字">
              <button class="btn btn-search btn-primary fw-medium position-absolute top-50 end-0 translate-middle-y me-2">搜尋</button>
        </form>
 <!--待補：最新消息連結-->
        <li class="nav-item d-lg-none w-100">
          <a class="nav-link py-0" href="#">
            <div class="d-flex justify-content-between align-items-center py-3">
              <p class="h6 text-primary-800 mb-0">最新消息</p>
              <span class="material-symbols-outlined text-primary-300" style="width: 20px"> arrow_forward_ios</span>
            </div>
          </a>
        </li>
        <li class="nav-item d-lg-none w-100">
          <a class="nav-link py-0" href="product.html">
            <div class="d-flex justify-content-between align-items-center py-3">
              <p class="h6 text-primary-800 mb-0">商品介紹</p>
              <span class="material-symbols-outlined text-primary-300" style="width: 20px"> arrow_forward_ios</span>
            </div>
          </a>
        </li>
      </ul>
    <!--漢堡選單裡的那條分隔線-->
      <div class="bg-primary-500 d-lg-none hr-line w-100" style="height: 4px"></div>
    <!--漢堡選的裡的那條分隔線end-->
      <a class="nav-link w-100 d-lg-none d-flex align-items-center pt-7 pb-3" href="member-login.html">
          <span class="material-symbols-outlined text-primary-300 align-bottom me-2" style="width: 20px; height: 20px;">login</span>
          <p class="h6 text-primary-800">註冊/登入</p>
      </a>
      <div class="empty-section d-lg-none"></div>
<!--手機版end-->
<!--桌機版start-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-6 align-items-center d-none d-lg-flex">
    <!--待補：最新消息連結-->
        <li class="nav-item">
          <a class="nav-link" href="#">最新消息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product.html">商品介紹</a>
        </li> 
        <div class="collapse" id="collapsSearch">
            <form class="position-relative">
              <span class="material-symbols-outlined position-absolute top-50 translate-middle-y ps-5 text-primary">search</span>
              <input class="form-control input-search ps-10" 
                     type="search"
                     id="input-search"
                     placeholder="輸入關鍵字">
              <button class="btn btn-search btn-primary fw-medium position-absolute top-50 end-0 translate-middle-y me-2">搜尋</button>
            </form>
        </div>
        <li class="nav-item">
          <button class="nav-link" 
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsSearch">
            <span class="material-symbols-outlined align-bottom">search</span>
          </button>
        </li>
        <li class="nav-item">
          <a href="shopping-cart" class="nav-link">
            <div class="position-relative">
              <span class="material-symbols-outlined fill align-bottom"> shopping_cart</span>
              <span class="position-absolute top-0 start-100 translate-middle badge border border-white bg-secondary-500">2</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <img src="../assets/images/avatar.png" 
               alt="avatar"
               style="width: 40px; height: 40px"
               class="border rounded-circle">
        </li>
      </ul> 
<!--桌機版end-->
    </div>
  </div>
</nav>


