
.input-search{
    padding: 18px 20px;
    border-radius: 40px;
    &:focus::placeholder{
      color: transparent;
    }
}
.hr-line{
  left: 50%;
  transform: translateX(-50%);
}
.empty-section{
  min-height: 100dvh;
  margin-bottom: 0;
}