@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

// 桌機版樣式

// Tabs 外容器
.tabs-container {
    max-width: 1920px;
}

.tabs-inner-wrapper {
    max-width: 1296px;
    margin: 0 auto;
}

// Bootstrap Tabs 樣式
.nav-tabs {
    border-bottom: 1px solid $neutral-400;

    .tabs-nav-link {
        background-color: transparent;
        border: none;
        transition: color 0.3s ease-in-out;

        &:focus {
            box-shadow: none;
        }

        &.active {
            border-bottom: 4px solid $primary-300;
            background-color: transparent;
        }
    }
}

// 移除 Bootstrap 的內建間距
.nav-tabs .nav-item:first-child .nav-link {
    margin-left: 0;
}

// P段落的圓點尺寸及位置調整
.product-detail-list {
  list-style-type: none;
  padding-left: 0.15rem;
}

.product-detail-list li {
  position: relative;
  padding-left: 1.85rem;
}

.product-detail-list li::before {
  content: '•';
  font-size: 17px;
  color: $neutral-800;
  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rectangle303-svg {
  width: 100%;
  display: block;
  position: relative;
  top: 41px;
}

// 手機版樣式
  @media (max-width: 991px) {
    .tabs-container,
    .tabs-inner-wrapper {
      max-width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .nav-tabs{
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .tabs-nav-link {
      display: inline-block;
      padding: 24px;
      font-size: 16px; 
      line-height: 19.2px;
      font-weight: 700;
    }
    
    .tabs-nav-top {
      margin-bottom: 24px;
    }

    .rectangle303-svg {
      display: none;
    }

    .product-detail-list {
    padding-left: 0;
  }
  
  .product-detail-list li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;     
    position: initial;
    padding-left: initial;
  }
  
  .product-detail-list li::before {
    content: '•';
    font-size: 17px;
    color: $neutral-800;
    position: initial; 
    left: initial;
    top: initial;
    transform: initial;
  }
}