<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Onon_cake首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 輪播圖 -->
    <section class="hero-container">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-carousel pt-8 pb-8">
              <div class="hero-slide active d-flex justify-content-center">
                <img
                  class="hero-image"
                  src="/assets/images/canele-banner.jpg"
                  alt="法式可麗露橫幅"
                  loading="lazy"
                />
                <div class="hero-content">
                  <div class="hero-text mb-8">
                    <p>在平淡的生活中</p>
                    <p>用甜點找回你的心跳</p>
                  </div>
                  <button class="hero-button">點我訂購</button>
                </div>
              </div>
            </div>
            <div
              class="carousel-indicators d-flex justify-content-center align-items-center"
            >
              <button
                class="indicator active"
                data-bs-target="#heroCarousel"
                data-bs-slide-to="0"
              ></button>
              <button class="indicator" data-bs-slide-to="1"></button>
              <button class="indicator" data-bs-slide-to="2"></button>
              <button class="indicator" data-bs-slide-to="3"></button>
            </div>
          </div>
        </div>
      </div>
      <img
        class="vector1-img"
        src="/assets/images/vector1.png"
        alt="裝飾向量圖案1"
      />
    </section>

    <!--品牌故事區塊-->
    <section class="story-container">
      <div class="story-content">
        <h2 class="h1 mb-6 story-title">品牌故事</h2>
        <p class="mb-4">
          2020
          年，從日本結束兩年的甜點研習後回到台灣，心中始終懷抱著一個小小夢想 ——
          擁有一家屬於自己的甜點店。於是，ONON CAKE 二溫菓子 誕生了。
        </p>
        <p class="mb-2">2022｜二溫菓子 品牌創立</p>
        <p class="mb-2">2023｜中壢中原分店 開幕</p>
        <p class="mb-4">2024｜桃園藝文分店 開幕</p>
        <p>在平淡的生活中，用甜點找回你的心跳</p>
      </div>
      <img class="cake-img" src="/assets/images/cake.png" alt="杯子蛋糕" />
      <img class="cake2-img" src="/assets/images/cake2.png" alt="切片蛋糕" />
      <img class="cake3-img" src="/assets/images/cake3.png" alt="法國麵包" />
      <img
        class="vector11-img"
        src="/assets/images/vector1.png"
        alt="裝飾向量圖案1"
      />
      <img
        class="vector2-img"
        src="/assets/images/vector2.png"
        alt="裝飾向量圖案2"
      />
      <img
        class="vector3-img"
        src="/assets/images/vector3.png"
        alt="裝飾向量圖案3"
      />
      <img
        class="rectangle303-img"
        src="/assets/images/rectangle303.png"
        alt="背景波浪圖案"
      />
    </section>

    <!-- 熱銷排行 -->
    <section class="bg-secondary-50">
      <div class="index-container">
        <div class="text-center pb-6 pt-8 py-lg-8">
          <h1 class="fs-3 fs-lg-1">熱銷排行</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col mb-2 mb-lg-8">
            <div class="card card-shadow rounded-xl h-100">
              <span class="badge rank-badge fs-6">第一名</span>
              <img
                src="/assets/images/canele.png"
                class="card-img-top"
                alt="經典原味可麗露"
              />
              <div class="card-body p-4">
                <h4 class="pb-2 text-primary-800">經典原味可麗露</h4>
                <p class="fs-6 text-primary-600 pb-4">
                  外酥內嫩焦糖香，法式經典一口入魂
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="h4 text-primary-700">NT$ 180</p>
                  <button
                    type="button"
                    class="btn btn-outline-secondary rounded-pill btn-card-shopping-cart"
                    style="--bs-btn-padding-y: 0; --bs-btn-padding-x: 0"
                  >
                    <span class="material-icons"> shopping_cart </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-2 mb-lg-8">
            <div class="card card-shadow rounded-xl h-100">
              <span class="badge rank-badge fs-6">第二名</span>
              <img
                src="/assets/images/madeleine.png"
                class="card-img-top d-none d-lg-block"
                alt="糖漬檸檬瑪德蓮"
              />
              <img
                src="/assets/images/madeleine-mobile.png"
                class="card-img-top d-lg-none"
                alt="糖漬檸檬瑪德蓮"
              />
              <div class="card-body p-4">
                <h4 class="pb-2 text-primary-800">糖漬檸檬瑪德蓮</h4>
                <p class="fs-6 text-primary-600 pb-4">
                  清香檸檬糖漬點綴，鬆軟口感酸甜平衡剛剛好
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="h4 text-primary-700">NT$ 150</p>
                  <button
                    type="button"
                    class="btn btn-outline-secondary rounded-pill btn-card-shopping-cart"
                    style="--bs-btn-padding-y: 0; --bs-btn-padding-x: 0"
                  >
                    <span class="material-icons"> shopping_cart </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-6 mb-lg-8">
            <div class="card card-shadow rounded-xl h-100">
              <span class="badge rank-badge fs-6">第三名</span>
              <img
                src="/assets/images/basque.png"
                class="card-img-top"
                alt="超濃厚巴斯克"
              />
              <div class="card-body p-4">
                <h4 class="pb-2 text-primary-800">超濃厚巴斯克</h4>
                <p class="fs-6 text-primary-600 pb-4">
                  香氣濃烈滑順綿密，入口即化的極致濃厚感
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="h4 text-primary-700">NT$ 240</p>
                  <button
                    type="button"
                    class="btn btn-outline-secondary rounded-pill btn-card-shopping-cart"
                    style="--bs-btn-padding-y: 0; --bs-btn-padding-x: 0"
                  >
                    <span class="material-icons"> shopping_cart </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center pb-8">
          <button type="button" class="btn btn-light fs-6">更多商品</button>
        </div>
      </div>
    </section>

    <!-- 可麗露寄甜計畫 -->
    <section class="sub-section-bg">
      <img
        class="d-none d-lg-block"
        src="/assets/images/rectangle-304.svg"
        alt=""
      />
      <div class="container position-relative">
        <div class="row my-8 my-lg-0">
          <!-- 左側 可麗露擺盤圖 -->
          <div class="col-12 col-lg-7 position-relative z-3">
            <div class="py-lg-12 mb-8 mb-lg-0">
              <img src="/assets/images/canele-sub.png" alt="可麗露" />
            </div>
          </div>
          <!-- 右側 不規則背景+文案 -->
          <!-- 手機版 -->
          <div class="d-lg-none">
            <div class="col-12">
              <div class="text-center shape-bg mb-12">
                <img
                  class="mb-6"
                  src="/assets/images/canele-vector.png"
                  alt="可麗露"
                />
                <h2 class="fs-1 text-primary-800 mb-6">可麗露・寄甜計劃</h2>
                <h3 class="fs-5 text-primary-700 mb-6">
                  品嚐一顆可麗露，體現職人精神<br />將這份職人甜點，寄給未來的你
                </h3>
                <a href="#" class="btn btn-primary">點我了解寄甜計劃</a>
              </div>
            </div>
          </div>
        </div>
        <!-- 桌機版 -->
        <div class="d-none d-lg-block">
          <div class="col-lg-7 pt-lg-12 position-absolute top-0 end-0 z-1">
            <img src="/assets/images/vector-4.png" alt="裝飾向量圖案4" />
            <div class="position-absolute top-50 start-50 translate-middle z-2">
              <div class="py-12 text-center">
                <img
                  class="mb-6"
                  src="/assets/images/canele-vector.png"
                  alt="可麗露"
                />
                <h2 class="fs-3 text-primary-800 mb-6">可麗露・寄甜計劃</h2>
                <h3 class="fs-5 text-primary-700 mb-6">
                  品嚐一顆可麗露，體現職人精神<br />將這份職人甜點，寄給未來的你
                </h3>
                <a href="#" class="btn btn-primary">點我了解寄甜計劃</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 加入會員 -->
    <section class="bg-primary-500">
      <div class="container">
        <div class="py-8 py-lg-0">
          <div class="row">
            <div class="col-12 col-lg-7">
              <div
                class="my-lg-12 pt-8 px-lg-8 py-lg-12 text-center text-lg-start"
              >
                <h2 class="fs-3 fs-lg-1 text-primary-800 mb-6">
                  加入會員，即享首購不限金額88折
                </h2>
                <p class="fs-6 text-primary-700 mb-6">
                  會員可享多重優惠：專屬折扣、紅利點數、生日優惠，現在加入會員，首購優惠與寄甜計畫合併使用，即贈經典原味可麗露乙份，贈品數量有限贈完為止，敬請把握優惠。本活動不可與其他優惠合併使用。
                </p>
                <a href="#" class="btn btn-primary mb-6 mb-lg-0"
                  >點我手刀加入會員</a
                >
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pb-8 pb-lg-12 text-center text-lg-start">
                <img
                  class="img-excess"
                  src="/assets/images/join-us.png"
                  alt="加入會員插圖"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
