<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onon_cake｜會員註冊</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-primary-500">
      <div class="container py-9">
        <div class="py-lg-4">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
              <div
                class="px-lg-8 text-center text-lg-start"
              >
                <h3 class="fs-lg-2 text-primary-800 mb-6">
                  加入會員，即享首購不限金額88折
                </h3>
                <p class="fs-6 text-primary-700 mb-6 mb-lg-0">
                  會員可享多重優惠：專屬折扣、紅利點數、生日優惠，現在加入會員，首購優惠與寄甜計畫合併使用，即贈經典原味可麗露乙份，贈品數量有限贈完為止，敬請把握優惠。本活動不可與其他優惠合併使用。
                </p>
              </div>
            </div>
            <div class="col-7 col-lg-3">
              <div class="pb-lg-0 text-center text-lg-start">
                <img
                  class="w-75"
                  src="/assets/images/join-us.png"
                  alt="加入會員插圖"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <main class="bg-light">
<!--隱私權政策-->
      <div class="bg-neutral-400 py-1">
        <p class="fs-5 text-center">會員加入須知</p>
      </div>
      <div class="d-flex justify-content-center p-6">
            <div class="form-check mb-0 fs-6 fs-lg-5">
                <input class="form-check-input" 
                       type="checkbox" 
                       value="" 
                       id="policyCheck">
                <label class="form-check-label" 
                       for="policyCheck">你已詳閱我們的
                        <a class="text-success-900" 
                           href="privacy-policy.html">
                          隱私權政策／服務條款
                        </a>
                      ，同意本網站所提供的服務。
                </label>
            </div>
      </div>

<!--會員資料填寫-->
      <div class="bg-neutral-400 py-1">
      <p class="fs-5 text-center">會員資料填寫</p>
      </div>    
      <div class="container pt-6 pb-8">
        <div class="row justify-content-center">
  <!--左側：姓名＆電話-->
          <div class="col-lg-4 pt-6">
        <!--姓名-->
            <div class="mb-3">
                <label for="memberName" 
                       class="form-label">
                       <span class="fs-5 ps-2">姓名</span>
                       <div class="form-check form-check-inline mb-0 ms-8">
                          <input class="form-check-input" 
                                 type="radio" 
                                 name="gender" 
                                 id="mr." 
                                 value="option1">
                          <label class="form-check-label" 
                                 for="mr.">先生</label>
                      </div>
                      <div class="form-check form-check-inline mb-0">
                          <input class="form-check-input" 
                                 type="radio" 
                                 name="gender" 
                                 id="mrs." 
                                 value="option2">
                          <label class="form-check-label" 
                                 for="mrs.">小姐</label>
                      </div>
                </label>
                <input type="text" 
                       class="form-control" 
                       id="memberName" 
                       placeholder="">
            </div>
        <!--電話-->
            <div class="mb-3">
                <label for="memberPhone" 
                       class="form-label">
                       <span class="fs-5 ps-2">電話</span>
                </label>
                <input type="number" 
                       class="form-control" 
                       id="memberPhone" 
                       placeholder="">
            </div>
          </div>
  <!--右側：生日＆電子信箱-->
          <div class="col-lg-4 pt-0 pt-lg-6">
          <!--生日-->
            <div class="mb-3">
              <label for="memberBirthday" 
                     class="form-label">
                    <span class="fs-5 ps-2">生日</span>
              </label>
              <input type="date" 
                     class="form-control" 
                     id="memberBirthday" 
              >
            </div>
          <!--信箱-->
            <div class="mb-3">
              <label for="memberEmail" 
                     class="form-label">
                     <span class="fs-5 ps-2">電子信箱</span>
              </label>
              <input type="email" 
                     class="form-control" 
                     id="memberEmail" 
                     placeholder="name@example.com">
            </div>
          </div>
        </div>
<!--地址-->
        <form class="row gy-2 gx-3 justify-content-center align-items-center pb-6">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-4 col-md-auto">
                <label class="form-label fs-5 ps-2" for="postCode">地址</label>
                <input type="text" class="form-control" id="postCode" placeholder="郵遞區號">
              </div>
              <div class="col-4 col-md-auto pt-38">
                <select class="form-select"  id="city-select">
                  <option value="" disabled selected>縣市</option>
                </select>
              </div>
              <div class="col-4 col-md-auto pt-38">
                <select class="form-select" id="district-select">
                  <option value="" disabled selected>鄉鎮市區</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mb-6">
            <label for="address" 
                   class="visually-hidden">
            </label>
            <input type="text" 
                   class="form-control" 
                   id="address" 
                   placeholder="請輸入地址"
            >
          </div>
  <!--確認送出btn-->
          <div class="col-4 col-lg-5">
            <a class="d-block btn btn-confirm btn-primary-300 text-white fs-6 fs-lg-5 pointer" 
               data-bs-toggle="modal" 
               data-bs-target="#signUpConfirm">
                確認送出
            </a>
          </div>
      </div>

  <!--註冊成功modal-->
       <div class="modal fade" 
                 id="signUpConfirm" 
                 data-bs-backdrop="static" 
                 data-bs-keyboard="false" 
                 tabindex="-1" 
                 aria-labelledby="signUpConfirmLabel" 
                 aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" 
                            class="btn-close" 
                            data-bs-dismiss="modal" 
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body row justify-content-center align-items-center mb-7">
                    <div class="col-3">
                      <img src="../assets/images/canele-2.png" alt="canele-2">
                    </div>
                    <div class="col-7">
                      <h6 class="fs-lg-5 mb-1">恭喜您註冊成功！</h6>
                      <p class="fs-7 fs-lg-6 mb-2">首購折扣優惠卷已匯入帳戶</p>
                      <a class="d-block btn btn-confirm btn-primary-300 text-white w-75 mb-2 me-auto pointer" 
                         href="member-login.html">立即登入
                      </a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
