<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-neutral-400 py-1">
        <h5 class="text-center">隱私權政策</h5>
    </div>

    <main class="container py-7">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p class="mb-5">非常歡迎您光臨OnOn_Cake官方網站(以下簡稱本網站)，為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
          </p>

          <div class="mb-5">
            <ul class="li-style-none">
              <h5 class="mb-1">一、隱私權保護政策的適用範圍</h5>
              <li>
                隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。
              </li>
              <li>
                隱私權保護政策不適用於本網站以外的相關連結網站 ，也不適用於非本網站所委託或參與管理的人員。
              </li>
            </ul>
          </div>

          <div class="mb-5">
            <ul class="li-style-none">
              <h5 class="mb-1">二、資料的蒐集與使用方式</h5>
              <li>
                為了在本網站上提供您最佳的互動性服務，可能會請您提供相關個人的資料，其範圍如下：
              </li>
              <li>
                本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、連絡方式及使用時間等。
              </li>
              <li>
                於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。
              </li>
              <li>
                為提供精確的服務，我們會將收集的問卷調查內容進行統計與分析，分析結果將之統計後的數據或說明文字呈現，除供內部研究外，我們會視需要公佈該數據及說明文字，但不涉及特定個人之資料。
              </li>
              <li>
                除非取得您的同意或其他法令之特別規定，本網站絕不會將您的個人資料揭露於第三人或使用於蒐集目的以外之其他用途。
              </li>
            </ul>
          </div>

        
        </div>
      </div>
      
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
