<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onon_cake｜商品介紹</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py-8 py-md-12">
      <div class="row">
        <!-- 商品總覽sidebar-->
        <div class="col-3 d-none d-md-block">
          <nav>
            <ul class="sidebar">
              <li class="sidebar-item active">
                <a href="product.html" ><h5>商品總覽</h5></a>
              </li>
              <li class="sidebar-item">
                <a href="#"><h5>可麗露</h5></a>
              </li>
              <li class="sidebar-item">
                <a href="#"><h5>巴斯克</h5></a>
              </li>
              <li class="sidebar-item">
                <a href="#"><h5>瑪德蓮</h5></a>
              </li>
              <li class="sidebar-item">
                <a href="#"><h5>法式小塔</h5></a>
              </li>
              <li class="sidebar-item">
                <a href="#"><h5>寄甜計畫</h5></a>
              </li>
              <li class="sidebar-item">
                <a href="#"><h5>中秋禮盒</h5></a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- product cards -->
        <section class="col-12 col-md-9">
          <h2 class="fs-3 fs-lg-2">商品介紹</h2>
          <div class="row py-8 g-6">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/canele.png"
                    class="card-img-top"
                    alt="canele"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      經典原味可麗露
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    外酥內嫩焦糖香，法式經典一口入魂
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 180</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/lemon-curd-canele.png"
                    class="card-img-top"
                    alt="lemon-curd-canele"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      檸檬凝乳可麗露
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    酸香清爽，濃郁檸檬奶香交織
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 150</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/caramel-almond-canele.png"
                    class="card-img-top"
                    alt="caramel-almond-canele"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      焦糖杏仁可麗露
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    焦糖脆香融合堅果濃郁口感
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 240</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/orange-chocolate-canele.png"
                    class="card-img-top"
                    alt="orange-chocolate-canele"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      橙香巧克力可麗露
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    柑橘清香與濃巧克力完美結合
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 180</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/hojicha-canele.png"
                    class="card-img-top"
                    alt="hojicha-canele"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      日本焙茶可麗露
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    茶香馥郁，甘醇回韻伴隨焦糖脆皮
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 150</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/original-basque.png"
                    class="card-img-top"
                    alt="original-basque"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      經典原味巴斯克
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    乳香濃郁，入口綿密焦香迷人
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 240</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/chocolate-basque.png"
                    class="card-img-top"
                    alt="chocolate-basque"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      法國巧克力巴斯克
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    濃厚可可，綿密口感極致奢華享受
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 240</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/lemon-madeleine.png"
                    class="card-img-top"
                    alt="lemon-madeleine"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      糖漬檸檬瑪德蓮
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    檸檬清香，甜中帶酸爽口不膩
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 150</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <a href="#"
                  ><img
                    src="../assets/images/breton-biscuit.png"
                    class="card-img-top"
                    alt="breton-biscuit"
                /></a>
                <div class="card-body">
                  <a href="#"
                    ><h4 class="card-title text-primary-800">
                      布列塔尼酥餅
                    </h4></a
                  >
                  <p class="card-text text-primary-600 mb-4">
                    奶油濃香，鬆脆口感經典法式風味
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h4 class="text-primary-700">NT$ 180</h4>
                    <button class="btn btn-card-cart px-6">
                      <span class="material-symbols-outlined fill align-bottom">
                        shopping_cart
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--pagination引入用-->
          <nav aria-label="Page navigation example">
            <ul
              class="pagination justify-content-center align-items-center gap-2"
            >
              <li class="page-item disabled">
                <a
                  class="page-link pagination-icon"
                  href="#"
                  aria-label="Previous"
                >
                  <span class="material-symbols-outlined align-top fill fs-5">
                    skip_previous
                  </span>
                </a>
              </li>
              <li class="page-item disabled">
                <a
                  class="page-link pagination-icon"
                  href="#"
                  aria-label="Previous"
                >
                  <span class="material-symbols-outlined align-top fs-5">
                    chevron_left
                  </span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item">
                <a class="page-link pagination-icon" href="#" aria-label="Next">
                  <span class="material-symbols-outlined align-top fs-5">
                    chevron_right
                  </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link pagination-icon" href="#" aria-label="Next">
                  <span class="material-symbols-outlined align-top fill fs-5">
                    skip_next
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
