<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
 
  </head>
  <body>
    <%- include('./layout/header'); -%>
  
<!-- 商品規格區塊 -->
    <section class="tabs-container py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tabs-inner-wrapper">
                    <nav class="nav nav-tabs tabs-nav-top nowrap gap-2 mb-lg-6" id="myTab" role="tablist">
                        <button class="tabs-nav-link active fs-lg-4 text-primary-800 fw-bold lh-288 p-lg-6" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="true">商品規格</button>
                        <button class="tabs-nav-link fs-lg-4 text-primary-800 fw-bold lh-288 p-lg-6" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane" type="button" role="tab" aria-controls="notes-tab-pane" aria-selected="false">注意事項</button>
                        <button class="tabs-nav-link fs-lg-4 text-primary-800 fw-bold lh-288 p-lg-6" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery-tab-pane" type="button" role="tab" aria-controls="delivery-tab-pane" aria-selected="false">宅配寄送</button>
                    </nav>

                        <div class="tab-content tabs-content-bottom" id="myTabContent">
                            <div class="tab-pane fade show active" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                                <h4 class="h4-with-icon nav-link d-flex align-items-center fs-lg-4 text-neutral-800 fw-bold lh-288 mb-4"><span class="material-symbols-outlined icon-filled fs-lg-4 text-primary-300 me-2">sms</span>商品規格</h4>
                                <div class="fs-lg-6 lh-24 text-neutral-800">
                                    <p class="">【規格】6入/盒</p>
                                    <p class="mb-4">【保存方式與最佳賞味期限】冷凍21天</p>
                                    <p>因台灣氣候悶熱，收貨後請一樣冷凍保存，以維持商品品質。</p>
                                    <p>本產品堅持不添加防腐劑，開封後請儘速食用完畢。</p>
                                    <p>強烈建議：「肚子裡」絕對是最好的保存位置。</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="notes-tab-pane" role="tabpanel" aria-labelledby="notes-tab" tabindex="0">
                                <h4 class="h4-with-icon nav-link d-flex align-items-center fs-lg-4 text-neutral-800 fw-bold lh-288 mb-4"><span class="material-symbols-outlined icon-filled fs-lg-4 text-primary-300 me-2">info</span>注意事項</h4>
                                <ul class="fs-lg-6 lh-24 text-neutral-800 product-detail-list">
                                    <li>本產品含有牛奶、蛋、麩質的穀類，不適合其過敏體質者食用。</li>
                                    <li>訂單完成付款後，接單按訂單順序安排製作出貨。</li>
                                    <li>若有希望到貨日期，請先私訊確認。</li>
                                    <li>本店無提供外島配送之服務。</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="delivery-tab-pane" role="tabpanel" aria-labelledby="delivery-tab" tabindex="0">
                                <div class="h4-with-icon nav-link d-flex align-items-center fs-lg-4 text-neutral-800 fw-bold lh-288 mb-4"><span class="material-symbols-outlined icon-filled fs-lg-4 text-primary-300 me-2">delivery_truck_speed</span>宅配寄送</div>
                                <ul class="fs-lg-6 lh-24 text-neutral-800 product-detail-list">
                                    <li>此商品為冷凍寄出。</li>
                                    <li>為保證品質，此商品皆以「冷凍」宅配寄出。</li>
                                    <li>部分商品可存放於不同溫層，較低溫層宅配寄出。</li>
                                    <li>如遇商品溫層互不相容，請分開下單，運費無法合計。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
      <img class="rectangle303-svg" src="/assets/images/Rectangle 303.svg" alt="背景波浪圖案">
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
